@font-face {
	font-family: "BRSegma";
	src: url("./assets/fonts/BRSegma-Black-BF654d99091e5a2.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BRSegma";
	src: url("./assets/fonts/BRSegma-Bold-BF654d9909ed277.otf") format("opentype");
	font-weight: Bold;
	font-style: normal;
}

@font-face {
	font-family: "BRSegma";
	src: url("./assets/fonts/BRSegma-SemiBoldItalic-BF654d990a21059.otf")
		format("opentype");
	font-weight: 600;
	font-style: italic;
}

h1 {
	font-family: "BRSegma";
	font-weight: normal;
	font-size: 4rem;
	margin: 0;
	padding: 0;
	color: #014988;
}
